.form{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
    background-color: white; 
    margin: auto;
    width:90%;
    margin-top: 20px;
    padding-top: 20px;    
  flex-direction: row;
  }
  .form-row{
    width: 100%;
     height:55px;
     display: flex;
    flex-direction: row;  
     
   }
   .form-row input{
    border-width: 0px;
    border-bottom-width: 1px;
    /* width:200px*/
   }
 
   .lable-column{
    color: black;
    width:auto; 
    padding: 10px;
   }
   .no-column{
    width: 10px; 
    padding: 10px;
    color: black;
  }
  .input-column{  
    padding: 10px;
  }